<!DOCTYPE html>
<html>
<head>
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1><%= movie.title %></h1>
<h3>Fecha: <%= movie.release_date %></h3>
<h3>Dirigida por: </h3>
<ul>
    <% movie.directors.forEach((director) => { %>
        <li>
            <a href="/director/<%= director.crew_member_id %>"><%= director.crew_member_name %></a>
        </li>
    <% }); %>
</ul>
<h3>Escrita por: </h3>
<ul>
    <% movie.writers.forEach((writer) => { %>
        <li>
            <%= writer.crew_member_name %>
        </li>
    <% }); %>
</ul>
<h3>Argumento:</h3>
<div id="overview"><p><%= movie.overview %></p></div>
<h3>Elenco:</h3>
<ul>
    <% movie.cast.sort((a, b) => a.cast_order - b.cast_order).forEach((actor) => { %>
        <li><a href="/actor/<%= actor.actor_id %>"><%= actor.actor_name %></a> - <%= actor.character_name %></li>
    <% }); %>
</ul>
<h3>Crew:</h3>
<ul>
    <% movie.crew.forEach((crewMember) => { %>
        <li>
            <%= crewMember.crew_member_name %> - <%= crewMember.department_name %>
            (<%= crewMember.job %>)
        </li>
    <% }); %>
</ul>
<p></p>
<div id="inicio"><a href="/">Inicio</a></div>
</body>
</html>
